@import "~@/assets/css/antdauto.less";

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

#root {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  height: 100%;
}

html,
body {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  color: #000;
  height: 100%;
  overflow: hidden;
  font-family: "HarmonyOS Sans SC";
}

.screen-wrapper {
  pointer-events: none;
}
@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 400;
  src: url("~@/assets/font/HarmonyOS_Sans_Regular.ttf");
}
@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 500;
  src: url("~@/assets/font/HarmonyOS_Sans_Medium.ttf");
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 700;
  src: url("~@/assets/font/HarmonyOS_Sans_Bold.ttf");
}

// @font-face {
//   font-family: 'YouSheBiaoTiHei';
//   src: url('~@/assets/font/YouSheBiaoTiHei-2.ttf');
// }

// @font-face {
//   font-family: 'HarmonyOS Sans SC-400';
//   src: url('~@/assets/font/HarmonyOS Sans SC-3-55-Regular.otf');
// }

// @font-face {
//   font-family: 'HarmonyOS Sans SC-500';
//   src: url('~@/assets/font/HarmonyOS Sans SC-3-65-Medium.otf');
// }

// @font-face {
//   font-family: 'HarmonyOS Sans SC-600';
//   src: url('~@/assets/font/HarmonyOS Sans SC-3-75-SemiBold.otf');
// }

// @font-face {
//   font-family: 'HarmonyOS Sans SC-700';
//   src: url('~@/assets/font/HarmonyOS Sans SC-3-85-Bold.otf');
// }

// @font-face {
//   font-family: 'D-DIN-400';
//   src: url('~@/assets/font/D-DIN-PRO-400-Regular.otf');
// }

// @font-face {
//   font-family: 'D-DIN-500';
//   src: url('~@/assets/font/D-DIN-PRO-500-Medium.otf');
// }

// @font-face {
//   font-family: 'D-DIN-700';
//   src: url('~@/assets/font/D-DIN-PRO-700-Bold.otf');
// }

.count-total {
  color: var(--ColorText-65, rgba(0, 0, 0, 0.65));
  font-family: "HarmonyOS Sans SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 4px;
  .number {
    display: flex;
    height: 18px;
    padding: 10px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(0, 107, 255, 0.2);
    color: var(--BrandBlue, #006bff);
    font-family: "HarmonyOS Sans SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.tableTopInputWrap {
  position: relative;
  display: flex;
  > svg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .tableInput {
    width: 240px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(0, 107, 255, 0.1);
  }
}
